[submodule "lib/safe-smart-account"]
	path = lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "lib/safe-modules"]
	path = lib/safe-modules
	url = https://github.com/safe-global/safe-modules
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Brechtpd/base64
