[profile.default]
src = "src"
out = "artifacts"
libs = ["lib"]
test = "test"
script = "script"
cache_path = "cache_forge"
solc = "0.8.19"
via_ir = true
optimizer = true
optimizer_runs = 200
# Ignore legacy uni v3 contracts that require 0.7.6
ignored_error_codes = []
deny_warnings = false
fs_permissions = [{ access = "read-write", path = "./" }]
# Skip problematic external contracts
skip = ["src/uni/uni3/periphery/**/*.sol", "src/alcx2/**/*.sol"]
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/"
]

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
testnet = "${RPC_TESTNET}"
localhost = "http://localhost:8545"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
